# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Virtual environment
venv/
env/
.venv/
ENV/

# Logs
*.log

# Secrets (coloque aqui arquivos com senhas caso crie algum)
secrets.txt
.env

# Cache
*.egg-info/
*.bak
*.tmp
.cache/
