# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Virtual environment
venv/
env/
.venv/
ENV/

# Database (caso use SQLite, se não usa, pode ignorar essa linha)
*.sqlite3

# Logs
*.log

# Secrets (coloque aqui arquivos com senhas caso crie algum)
secrets.txt
.env

# macOS
.DS_Store

# PyCharm
.idea/

# Cache
*.egg-info/
*.bak
*.tmp
.cache/
